[Unit]
Description=SO Vulnerability Scan (nmap)
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
User=soops
WorkingDirectory=/opt/so-ops
ExecStart=/usr/bin/docker compose run --rm so-ops scan --type nmap
StandardOutput=journal
StandardError=journal
TimeoutStartSec=7200

[Install]
WantedBy=multi-user.target
